@model IEnumerable<G3_PetOnlineShop.Models.TypeProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.typeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.typeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.typeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.typeID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.typeID  })
        </td>
    </tr>
}

</table>
